<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs'); %>
    <title>Burgeran ni bryan</title>
</head>
<body>
        <div class="main">
           <div class="home-section">
            <%- include('./partials/nav-bar.ejs'); %>
            <div class="hero-main">
                <div class="hero-text-container">
                    <h1>boss Bryan <span>Burger</span></h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, facilis?</p>
                    <button>Order Now</button>
                </div>
                <div class="hero-image-container">
                    <img src="../static/assets/images/home-hero-img.png" alt="home burger">
                </div>
            </div>
           </div> 
           <div class="products-section">
                <h2>START YOUR<span> ORDER TODAY</span></h2>
                <div class="products-list">
                    <div class="product">
                        <div class="hover-details">
                            <div class="price-container">
                                <p>Classic   <span>Burger</span></p>
                                <p>PHP 45.00</p>
                            </div>
                                <div class="image-container">
                                   <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                                </div>
                           
                        </div>
                        <div class="burger-container">
                            <div class="image-container">
                                <img src="../static//assets/images/products-classic-burger.png" alt="product classic burger">
                            </div>
                            <p>Classic <span>Burger</span></p>
                        </div>
                        <div class="price-container">
                             <p>PHP 45.00</p>
                             <div class="image-container">
                                <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                             </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="hover-details">
                            <div class="price-container">
                                <p>BBQ   <span>Burger</span></p>
                                <p>PHP 60.00</p>
                            </div>
                                <div class="image-container">
                                   <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                                </div>
                           
                        </div>
                        <div class="burger-container">
                            <div class="image-container">
                                <img src="../static//assets/images/products-bbq-burger.png" alt="product bbq burger">
                            </div>
                            <p>BBQ <span>Burger</span></p>
                        </div>
                        <div class="price-container">
                             <p>PHP 60.00</p>
                             <div class="image-container">
                                <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                             </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="hover-details">
                            <div class="price-container">
                                <p>BBQ   <span>Burger</span></p>
                                <p>PHP 60.00</p>
                            </div>
                                <div class="image-container">
                                   <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                                </div>
                           
                        </div>
                        <div class="burger-container">
                            <div class="image-container">
                                <img src="../static//assets/images/products-bbq-burger.png" alt="product bbq burger">
                            </div>
                            <p>BBQ <span>Burger</span></p>
                        </div>
                        <div class="price-container">
                             <p>PHP 60.00</p>
                             <div class="image-container">
                                <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                             </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="hover-details">
                            <div class="price-container">
                                <p>Crispy   <span>Burger</span></p>
                                <p>PHP 50.00</p>
                            </div>
                                <div class="image-container">
                                   <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                                </div>
                           
                        </div>
                        <div class="burger-container">
                            <div class="image-container">
                                <img src="../static//assets/images/products-crispy-burger.png" alt="product crispy burger">
                            </div>
                            <p>CRISPY <span>Burger</span></p>
                        </div>
                        <div class="price-container">
                             <p>PHP 50.00</p>
                             <div class="image-container">
                                <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                             </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="hover-details">
                            <div class="price-container">
                                <p>Flame Grilled   <span>Burger</span></p>
                                <p>PHP 60.00</p>
                            </div>
                                <div class="image-container">
                                   <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                                </div>
                           
                        </div>
                        <div class="burger-container">
                            <div class="image-container">
                                <img src="../static//assets/images/products-flame-grilled-burger.png" alt="product flame grilled burger">
                            </div>
                            <p>Flame Grilled<span>Burger</span></p>
                        </div>
                        <div class="price-container">
                             <p>PHP 60.00</p>
                             <div class="image-container">
                                <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                             </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="hover-details">
                            <div class="price-container">
                                <p>Grilled   <span>Burger</span></p>
                                <p>PHP 40.00</p>
                            </div>
                                <div class="image-container">
                                   <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                                </div>
                           
                        </div>
                        <div class="burger-container">
                            <div class="image-container">
                                <img src="../static//assets/images/products-grill-burger.png" alt="product bbq burger">
                            </div>
                            <p>Grill <span>Burger</span></p>
                        </div>
                        <div class="price-container">
                             <p>PHP 40.00</p>
                             <div class="image-container">
                                <img src="../static//assets/images/products-cart-icon.png" alt="product icon">
                             </div>
                        </div>
                    </div>
                </div>
           </div>
            <div class="contacts-section">
            <div class="image-container">
                <img
                  src="../static//assets/images/contacts-bacon-burger.png"
                  alt="contacts bacon burger">
              </div>
              <div class="form-container">
                <form class="form-wrapper">
                  <h1><span>Leave</span> us a message</h1>
                  <input type="text" placeholder="First Name" >
                  <input type="text" placeholder="Last Name" >
                  <input type="text" placeholder="Phone" >
                  <input type="email" placeholder="Email" >
                  <textarea placeholder="Message"></textarea>

                  <button>send</button>
                </form>
              </div>
           </div>
           <%- include('./partials/footer.ejs'); %>
        </div>
    </body>

    <script src="../static/js/index.js"></script>
</html>